// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.red_row {
    background-color: $red ;
}
.blue_row {
    background-color: $blue ;
}
.orange_row {
    background-color: $orange ;
}
.yellow_row {
    background-color: $yellow ;
}
.gray_row {
    color: gray;
}
        